@import '../styles/base';

:host {
  font-size: 90%;
}

#admin-login {
  color: $dark-text-disabled;
  &:hover {
    text-decoration:underline;
  }
  cursor: pointer;
}

ul {
  padding: 0;
  margin: 0;
  max-width: 50em;
}

li {
  margin: 0 0 1em 0;
  padding: 0;
  &.break {
    color: $accent-color-lighter;
    margin: 1.5em 0 1.5em 0;
  }
  .start {
    text-align: right;
    padding-right: 1em;
    width: 5em;
  }
  .info {
    .presenter {
      font-weight: bold;
    }
    .title {
      font-style: italic;
    }
  }
}

