body {
  background: #fcfcf5;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  letter-spacing: 0px;
  color: #333;
}

.hero-unit {
  margin: 50px auto 0 auto;
  width: 300px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding: 60px;
}

.hero-unit h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

[drawer] {
  background-color: #EEEEEE;
}

[main] core-toolbar,
[drawer] core-toolbar {
  color: #ddd;
  background: #1a1c2e;
  font-weight: lighter;
}

[main] core-toolbar {
  background: #1a1c2e url("/images/galaxy_header.png") left no-repeat;
  font-weight: lighter;
  font-size: 175%;
  padding-left: 0.5em;
}

[drawer] core-toolbar {
  color: #FAFAFA;
  padding-left: 7px;
  line-height: 36px;
}

[drawer] core-menu {
  margin-left: 24px;
  margin-top: 18px;
}

core-header-panel[drawer] {
  background: #f0ead8;
  color: #1a1c2e;
  font-weight: lighter;
}

core-item {
  letter-spacing: 1px;
}

core-item.core-selected {
  letter-spacing: 0px;
}

core-pages {
  margin: 26px;
  color: #0c0c19;
}

core-item#timerItem {
  position: absolute;
  bottom: 0px;
}

.location-info {
  font-size:50%;
  letter-spacing:1px;
  padding-left: 2em;
  padding-bottom: 5px;
}

#logo {
  width: 67px;
  height: 50px;
  margin-left: 26px;
}

