@import '../styles/base';

:host {
  dispay: inline-block;
}

.portrait {
  padding-top: 2px;
  width: 60px;
  margin-right: 18px;
  text-align: right;

  img {
    max-height: 60px;
    max-width: 60px;
    border-radius: 3px;
    filter: grayscale(1);
    box-shadow: 0 0 30px 5px #000 inset;
  }
}

.presenter {
  margin-top: 0;
  font-weight: bold;
  font-size: 125%;
}

.title {
  font-style: italic;
}

.bio {
  margin-top: 0.5em;
  color: $dark-text-secondary;
}

:host /deep/ a {
  color: $accent-color-lighter;
  text-decoration: none;
  &:hover {
    color: $accent-color-lighter;
    text-decoration: underline;
  }
}
