@import '../styles/base';

:host {
  display: block;
  background-color: $accent-color;
}

//h1, h3 { font-size: 100% }

#marquee {
  padding: 24px;
  color: white;
  text-align: center;
  border-radius:5px;
  &.happy {
    background-color: green;
  }
  &.warning {
    background-color: red;
  }

  h1 {
    font-size: 3vw;
    font-weight: lighter;
  }

  h3 {
    font-size: 2vw;
    padding: 0;
    margin-top: 1vw;
    font-weight: lighter;
  }

  img {
    max-height: 8vw;
    max-width: 8vw;
    border-radius: 5px;
  }

  #countdown {
    font-size: 16vw;
  }

}
