@import '../styles/base';

:host {
  max-width: 40em;
}

#register-button {
  margin: 24px 0 0 0;
  height: 36px;
  width: 226px;
}

.keynotes {
  padding-bottom: 3em;
  margin: 3em 0;
  font-size: 90%;
  presenter-bio {
    margin-bottom: 1.5em;
    &::shadow .portrait img {
      filter: none;
    }
  }
}
